
    <h1>VOS RESERVATIONS</h1>

    <button id="reserver" name="reserver" class=pull-right>Réserver un transport</button></br>


    <h4>Covoiturage</h4>
    
    <div >
        <label>Réservations en cours</label>


        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date-Heure</th>
                    <th>Départ</th>
                    <th>Destination</th>
                    <th></th>
                </tr>
            </thead>

            <tbody >
                <tr ng-repeat="reservation in $ctrl.reservations track by $index" >
                    <td>{{reservation.idAnnonce.dateHeureDepart | date : 'dd/MM/yyyy HH:mm'}}</td>
                    <td>{{reservation.idAnnonce.idAdresseDepart.nomRue}}</td>
                    <td>{{reservation.idAnnonce.idAdresseArrivee.nomRue}}</td>
                    <td><button id="detail" name="detail">Détails</button></td>
                </tr>
            </tbody>
        </table>
 
     <label>Historique</label>
      <table class="table table-striped">
        <thead>
            <tr>
                <th>Date-Heure</th>
                <th>Départ</th>
                <th>Destination</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
             <tr ng-repeat="historique in $ctrl.historiques  track by $index">
                    <td>{{historique.idAnnonce.dateHeureDepart | date : 'dd/MM/yyyy HH:mm'}}</td>
                    <td>{{historique.idAnnonce.idAdresseDepart.nomRue}}</td>
                    <td>{{historique.idAnnonce.idAdresseArrivee.nomRue}}</td>
                    <td><button id="detail" name="detail">Détails</button></td>
                </tr>
        </tbody>
    </table>
   </div>


