
    <h1>VOS RESERVATIONS</h1>

    <button id="reserver" name="reserver" class=pull-right>Réserver un transport</button></br>


    <h4>Covoiturage</h4>
    
    <div >
        <label>Réservations en cours</label>


        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date-Heure</th>
                    <th>Départ</th>
                    <th>Destination</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="reservation in $ctrl.reservations track by $index">
                    <td>{{reservation.idAnnonce.dateHeureDepart}}</td>
                    <td>{{reservation.idAnnonce.idAdresseDepart.nomRue}}</td>
                    <td>{{reservation.idAnnonce.idAdresseArrivee.nomRue}}</td>
                    <td><button id="detail" name="detail">Détails</button></td>
                </tr>
            </tbody>
        </table>
 
     <label>Historique</label>
      <table class="table table-striped">
        <thead>
            <tr>
                <th>Date-Heure</th>
                <th>Départ</th>
                <th>Destination</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>17/06/2017 16:30</td>
                <td>Gare de Nantes</td>
                <td>Gare de Saint-Nazaire</td>
                <td><button id="detail" name="detail">Détails</button></td>
            </tr>
             <tr>
                <td>16/06/2017 15:30</td>
                <td>Gare de Nantes</td>
                <td>Gare de Saint-Nazaire</td>
                <td><button id="detail" name="detail">Détails</button></td>
            </tr>
        </tbody>
    </table>
   </div>


