
    <h1>VOS RESERVATIONS</h1>

    <a href="collaborateur/propositions/creer"><button id="reserver" name="reserver" class=pull-right >Réserver un transport</button><a></br>


    <h4>Covoiturage</h4>

    
    <div >

        <label>Réservations en cours</label>


        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date-Heure</th>
                    <th>Départ</th>
                    <th>Destination</th>
                    <th></th>
                </tr>
            </thead>

            <tbody >
                <tr ng-repeat="reservation in $ctrl.reservations track by $index" >
                    <td>{{reservation.idAnnonce.dateHeureDepart.dayOfMonth}}
                    {{reservation.idAnnonce.dateHeureDepart.month}}
                    {{reservation.idAnnonce.dateHeureDepart.year}}
                     - {{reservation.idAnnonce.dateHeureDepart.hour}}
                     :{{reservation.idAnnonce.dateHeureDepart.minute}}
                     </td>

                    <td>{{reservation.idAnnonce.idAdresseDepart.nomRue }}</td>
                    <td>{{reservation.idAnnonce.idAdresseArrivee.nomRue}}</td>
                    <td><button id="detail" name="detail" class="btn btn-info btn-lg" ng-click="$ctrl.detailsReservation(reservation)" >Détails</button></td>
                </tr>
            </tbody>
        </table>

     <label>Historique</label>
      <table class="table table-striped">
        <thead>
            <tr>
                <th>Date-Heure</th>
                <th>Départ</th>
                <th>Destination</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
             <tr ng-repeat="historique in $ctrl.historiques.slice((($ctrl.currentPage-1)*$ctrl.itemsPerPage), (($ctrl.currentPage)*$ctrl.itemsPerPage))">
                    <td>{{historique.idAnnonce.dateHeureDepart.dayOfMonth}}
                    {{historique.idAnnonce.dateHeureDepart.month}}
                    {{historique.idAnnonce.dateHeureDepart.year}}
                     - {{historique.idAnnonce.dateHeureDepart.hour}}
                     :{{historique.idAnnonce.dateHeureDepart.minute}}
                     </td>

                    <td>{{historique.idAnnonce.idAdresseDepart.nomRue}}</td>
                    <td>{{historique.idAnnonce.idAdresseArrivee.nomRue}}</td>
                    <td><button id="detail" name="detail"  class="btn btn-info btn-lg" ng-click="$ctrl.detailsReservation(historique)">Détails</button></td>


                </tr>
        </tbody>
    </table>

</div>

<!-- <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></pagination> -->

<div class="container" >
    <ul class="pagination">
        <li ng-class="{disabled:$ctrl.currentPage === 1}" ><a ng-click="$ctrl.changePage($ctrl.currentPage-1)" >«</a></li>
        <li ng-repeat="page in $ctrl.pages" ng-class="{active:$ctrl.currentPage === page}">
        <a  ng-click="$ctrl.changePage(page)">{{page}} <span class="sr-only">(current)</span></a></li>
        <li ng-class="($ctrl.currentPage !== $ctrl.maxSize-1) ? 'disabled': ''"><a ng-click="$ctrl.changePage($ctrl.currentPage+1)">»</a></li>

        <!-- "(page === currentPage) ? 'active': ''" -->
    </ul>
</div>

