<div class="">

    <form name="addVoiture" class="form-horizontal" method="post" ng-submit="$ctrl.ajouterVehicule(addVoiture)">
        <fieldset>
            <!-- Form Name -->
            <legend>Ajout d'un véhicule</legend>
            <!-- Text input-->
            <div class="form-group ">
                <label class="col-md-4 control-label" for="immatriculationInput">Immatriculation</label>
                <div class="col-md-4 ">
                    <input id="immatriculationInput" ng-model="immatriculationInput" name="immatriculationInput" type="text" placeholder="" class="form-control input-md" required>
                    <span class="" ng-show="addVoiture.immatriculationInput.$touched &&
                                 addVoiture.immatriculationInput.$invalid">
                                 L'immatriculation est obligatoire*
                                 </span>
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="marqueInput">Marque</label>
                <div class="col-md-4">
                    <input id="marqueInput" ng-model="marqueInput" name="marqueInput" type="text" placeholder="" class="form-control input-md" required>

                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="modeleInput">Modèle</label>
                <div class="col-md-4">
                    <input ng-model="modelInput" id="modeleInput" name="modeleInput" type="text" placeholder="" class="form-control input-md" required="">

                </div>
            </div>
            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="selectCategorie">Catégorie</label>
                <div class="col-md-4">
                    <select id="selectCategorie" name="selectCategorie" class="form-control" ng-model="categorie">
                                    <option  ng-repeat="categorie in $ctrl.categories ">{{categorie}}</option>
                                </select>
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="nbPlaceInput">Nombre de places</label>
                <div class="col-md-4">
                    <input ng-model="nbPlaceInput" id="nbPlaceInput" name="nbPlaceInput" type="text" placeholder="" class="form-control input-md" placeholder="maxi 20 places" required="">
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="urlImageInput">Photo</label>
                <div class="col-md-4">
                    <input ng-model="urlImageInput" id="urlImageInput" name="urlImageInput" type="text" placeholder="" class="form-control input-md" required="">
                </div>
            </div>
        </fieldset>

        <button type="submit" href="#" class="btn btn-primary">Ajouter</button>
    </form>
    <button href="#" class="btn btn-danger" ng-click="$ctrl.closePopUp()">Fermer</button>
</div>
