<form class="form-horizontal container">
    <fieldset>
        <!-- Form Name -->
        <legend>Véhicule</legend>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="immatInput">Immatriculation</label>
            <div class="col-md-4">
                <input id="immatInput" name="immatInput" ng-model="search.immatriculation" type="text" placeholder="XX-NNN-XX" class="form-control input-md">
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="marqueInput">Marque</label>
            <div class="col-md-4">
                <input id="marqueInput" name="marqueInput" ng-model="search.marque" type="text" placeholder="" class="form-control input-md">
            </div>
        </div>
    </fieldset>
    <a href="#" ng-click="$ctrl.ouvrirPopUP()" class="btnAddVehicule btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Ajouter un véhicule</a>
</form>

<br>

<div class="container">
    <div class="row">
        <div ng-repeat="vehicule in $ctrl.vehicules | filter:search" class="col-xs-12 col-sm-6 col-md-4 col-lg-4  toppad">
            <div role="button" class="panel panel-info" ng-click="$ctrl.pageDetailVehicule(vehicule.immatriculation)">
                <div class="panel-heading">
                    <h3 class="panel-title">Véhicule n°{{vehicule.id}}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 " align="center">
                            <img alt="Car Pic" ng-src="{{vehicule.urlImage}}" class="img-circle img-responsive">
                            <br/>
                        </div>
                        <div class="col-md-2"></div>
                        <div style="word-wrap: break-word;" class=" col-md-8 col-lg-8 col align-self-center">
                            <table class="jumbotron table table-user-information">
                                <tbody>

                                    <tr>
                                        <td>{{vehicule.immatriculation}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{vehicule.marque}} - {{vehicule.modele}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{vehicule.categorie}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
