<h1>VOS ANNONCES</h1>


<a id="creerAnnonce" name="creerAnnonce" ng-href="collaborateur/annonces/creer" class="btn btn-primary  pull-right"><span class="glyphicon glyphicon-plus" ></span> Créer une nouvelle annonce</a>

</br>
<h4>Annonces</h4>

<div>
    <label>Annonces en cours</label>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date-Heure</th>
                <th>Départ</th>
                <th>Destination</th>
                <th>Nombre de voyageurs</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="annonce in $ctrl.annonces track by $index">
                <td>
                    {{annonce.dateHeureDepart}}
                </td>
                <!-- <td>{{annonce.dateHeureDepart.dayOfMonth}} {{annonce.dateHeureDepart.month}} {{annonce.dateHeureDepart.year}} - {{annonce.dateHeureDepart.hour}} :{{annonce.dateHeureDepart.minute}}
                </td> -->
                <td>
                    {{annonce.idAdresseDepart.numRue}} {{annonce.idAdresseDepart.libelle}} {{annonce.idAdresseDepart.nomRue}} {{annonce.idAdresseDepart.codePostale}} {{annonce.idAdresseDepart.ville}}
                </td>
                <td>{{annonce.idAdresseArrivee.numRue}} {{annonce.idAdresseArrivee.libelle}} {{annonce.idAdresseArrivee.nomRue}} {{annonce.idAdresseArrivee.codePostale}} {{annonce.idAdresseArrivee.ville}} </td>
                <td>{{annonce.nbPlacesDispo}}</td>
            </tr>
        </tbody>
    </table>

    <label>Historique</label>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date-Heure</th>
                <th>Départ</th>
                <th>Destination</th>
                <th>Nombre de voyageurs</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="historique in $ctrl.historiques.slice((($ctrl.currentPage-1)*$ctrl.itemsPerPage), (($ctrl.currentPage)*$ctrl.itemsPerPage))">

                <!-- <td>{{historique.dateHeureDepart.dayOfMonth}}</td> -->
                <td >
                    {{historique.dateHeureDepart}}
                </td>
                  
                <!-- <td>{{historique.dateHeureDepart.dayOfMonth}} {{historique.dateHeureDepart.month}} {{historique.dateHeureDepart.year}} - {{historique.dateHeureDepart.hour}} :{{historique.dateHeureDepart.minute}}
                </td> -->
                <td>
                    {{historique.idAdresseDepart.numRue}} {{historique.idAdresseDepart.libelle}} {{historique.idAdresseDepart.nomRue}} {{historique.idAdresseDepart.codePostale}} {{historique.idAdresseDepart.ville}}
                </td>
                <td>
                    {{historique.idAdresseArrivee.numRue}} {{historique.idAdresseArrivee.libelle}} {{historique.idAdresseArrivee.nomRue}} {{historique.idAdresseArrivee.codePostale}} {{historique.idAdresseArrivee.ville}}
                </td>
                <td>{{historique.nbPlacesDispo}}</td>
            </tr>

        </tbody>
    </table>



</div>

<!-- <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></pagination> -->

<div class="container" >
    <ul class="pagination">
        <li ng-class="{disabled:$ctrl.currentPage === 1}" ><a ng-click="$ctrl.changePage($ctrl.currentPage-1)" >«</a></li>
        <li ng-repeat="page in $ctrl.pages" ng-class="{active:$ctrl.currentPage === page}">
        <a  ng-click="$ctrl.changePage(page)">{{page}} <span class="sr-only">(current)</span></a></li>
        <li ng-class="($ctrl.currentPage !== $ctrl.maxSize-1) ? 'disabled': ''"><a ng-click="$ctrl.changePage($ctrl.currentPage+1)">»</a></li>

        <!-- "(page === currentPage) ? 'active': ''" -->
    </ul>
</div>
