<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a id="logoMenu" class="navbar-brand">
               <img src="https://s-media-cache-ak0.pinimg.com/736x/88/7b/86/887b869e7dd648cb648f1c5ae40fad48.jpg" alt="">
            </a>
            </div>
            <ul class="nav navbar-nav">
                <li><a ng-href="collaborateur/reservations">Vos Réservation</a></li>
                <li><a ng-href="collaborateur/annonces">Vos annonces</a></li>
                <!-- <li><a ng-href="collaborateur/statistiques">Statistiques</a></li>
                <li><a ng-href="chauffeur/planning" ng-if="$ctrl.type==='CHAUFFEUR'">Planning</a></li>
                <li><a ng-href="chauffeur/occupation" ng-if="$ctrl.type==='CHAUFFEUR'">Occupation</a></li> -->
                <li><a ng-href="admin/vehicules" ng-if="$ctrl.type==='ADMIN'">Véhicule</a></li>
                <!-- <li><a ng-href="admin/occupation" ng-if="$ctrl.type==='ADMIN'">Chauffeur</a></li> -->
                <li><button ng-click="$ctrl.deconnection()">Se deconnecter</button>
            </ul>
        </div>
    </nav>
</header>
