<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a id="logoMenu" class="navbar-brand">
               <img class="imgMenu" src="https://s-media-cache-ak0.pinimg.com/736x/88/7b/86/887b869e7dd648cb648f1c5ae40fad48.jpg" alt="">
            </a>
            </div>
            <ul class="nav navbar-nav">
                <li ng-class="{active:isActive('/collaborateur/reservations')}"><a ng-href="collaborateur/reservations">Vos Réservations</a></li>
                <li ng-class="{active:isActive('/collaborateur/annonces')}"><a ng-href="collaborateur/annonces">Vos annonces</a></li>
                <!-- <li><a ng-href="collaborateur/statistiques" ng-class="{ active: isActive('/statistiques')}">Statistiques</a></li>
                <li><a ng-href="chauffeur/planning" ng-if="$ctrl.type==='CHAUFFEUR'">Planning</a></li>
                <li><a ng-href="chauffeur/occupation" ng-if="$ctrl.type==='CHAUFFEUR'">Occupation</a></li> -->
                <li ng-class="{active:isActive('/admin/vehicules')}"><a ng-href="admin/vehicules" class="active" ng-if="$ctrl.type==='ADMIN'">Véhicule</a></li>
                <!-- <li><a ng-href="admin/occupation" ng-if="$ctrl.type==='ADMIN'">Chauffeur</a></li> -->
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><button class="btn btn-danger" ng-click="$ctrl.deconnection()">Se deconnecter</button></li>
            </ul>


            <ul class="textNav nav navbar-nav navbar-right">
                    <li>Bienvenu :   </li>
                    <li>{{ $ctrl.profile.nom }}</li>
                    <li> - </li>
                    <li>{{ $ctrl.profile.prenom }}</li>
            </ul>

        </div>
    </nav>
</header>
